*{
    font-family: 'Montserrat', sans-serif;
}

/* Science Content */

.bd-highlight{
    background-color: rgba(53, 107, 152, 0.799);
    padding: 3rem;
    min-height: 500px;
}

.form-control{
    height: 50px;
    margin-bottom: -1%;
    border-radius: 0;
}

.btn{
    height: 50px;
    border-radius: 0;
    margin: .35rem;
}
form{
    width: 40%;
    height: auto;
    font-size: medium;
}

.science {
    background-image: url("../assets/science.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



.sci-about .about1{
    font-weight: 800;
    font-size: 8rem;
    margin-bottom: -1%;
    color: #ff981d;
}
.sci-about .about2{
    font-weight: 800;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #03629f;
}

.sci-about p{
    color: #808285;
    font-size: 17px;
}

.sci-courses{
    min-height: 2000px;
    background: url("../assets/courses.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem 4rem;
}
.scicourses{
    margin: 2rem 1rem;
}
.course-title{
    font-size: 2rem;
    color: #fbb041;
    font-weight: 600;
}
.tech{
    margin-left: -12%;
}
.tech-list{
    display: flex;
    background-color: aliceblue;
    padding: 1rem;
    margin-bottom: .5rem;
}

.tech-text{
    font-weight: 500;
    margin-left: 4%;
    margin-top: -3%;
    font-size: 18px;
    display: grid;
    color: #808285;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.col-lg-3, .col-md-3, .col-sm-12 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.course-title-2{
    font-size: 2rem;
    color: #fbb041;
    font-weight: 600;
    margin-left: 8%;
}
.props-lists{
    list-style-type: none;
    color: aliceblue;
    margin-bottom: 4%;
    font-size: 17px;
    display: flex;

}

.text-elig{
    display: flex;
}

.text-bot{
    display: grid;
    align-content: center;
    justify-content: end;
    align-items: end;
    justify-items: center;
    margin-top: -1%;
}
.text-bot p {
    margin-top: -5px;
    margin-left: 40%;
}

.etext{
    margin-top: 6%;
}

.hr{
    margin-top: 0;
    margin-left: 35%;
    width: 65%;
    border-top: 2px solid #ffffff;
}

.img-top{
    display: grid;
    align-content: center;
    width: 100%;
    justify-content: start;
    align-items: start;
    justify-items: start;
}

.eligiblity{
    margin-top: 2%;
    margin-left: 9%;
}

hr.style-two {
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, rgb(0 0 0 / 0%), rgb(0 0 0 / 28%), rgba(0, 0, 0, 0));
    width: 100%;
}


/* Media */


/* Science */

@media (max-width: 600px) {
    .eligiblity {
        margin-top: 5%;
        margin-left: -5%;
    }
}
@media (max-width: 510px) {
    .img-top .lab-img{
        width: 100%;
    }
    .sci-about .about1 {
        font-weight: 800;
        font-size: 4rem;
        margin-bottom: -1%;
        color: #ff981d;
    }
    .sci-about .about2 {
        font-weight: 800;
        font-size: 1.3rem;
    }
    .sci-about p {
        font-size: 12px;
    }
    .science{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .tech-list{
        padding: 0.5rem;
    }
    .tech-list img{
        height: 40%;
        width: auto;
    }
    .tech-text {
        font-size: 12px;
    }
    .props{
        margin-left: -15%;
    }
}

@media (max-width:1200px){  
    .col-img {
        padding-top: 5rem;
        width: 60%;
        height: 100%;
    }    
    .col-img img {
        margin-left: -20%;
    }
    .last1 {
        color: #01a7af;
        font-weight: 600;
        font-size: 32px;
        padding: 0 10%;
        text-transform: uppercase;
    }
    
    .hr-lines:after {
        content: " ";
        height: 2px;
        width: 80px;
        background: #01a7af;
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
    }
    .hr-lines2:after {
        content: " ";
        height: 2px;
        width: 80px;
        background: #01a7af;
        display: block;
        position: absolute;
        top: 45%;
        right: 0;
    }
}


@media (max-width:1050px){  
    .col-img img {
        width: 115%;
        margin-left: -6%;
        margin-top: 6%;
    }
    .col-text {
        padding-top: 3rem;
    }
    .last1 {
        color: #01a7af;
        font-weight: 500;
        font-size: 25px;
        padding: 0 9%;
        text-transform: uppercase;
    }
    .list-course{
        color: aliceblue;
        font-size: 22px;
    }
    .li{
        padding: .5rem;  
    }
    .courses{
        min-height: 650px;
    }
    .hr-lines:after {
        content: " ";
        height: 4px;
        width: 220px;
        background: #01a7af;
        display: block;
        position: absolute;
        top: 45%;
        right: 2px;
    }
    .hr-lines2:after {
        content: " ";
        height: 4px;
        width: 220px;
        background: #01a7af;
        display: block;
        position: absolute;
        top: 78%;
        right: 2px;
    }
    .bottom {
        margin-bottom: 10%;
    }

}

@media (max-width:992px){
    .col-img img {
        width: 135%;
        margin-left: -25%;
        margin-top: 6%;
    }
    .last1 {
        color: #01a7af;
        font-weight: 600;
        font-size: 25px;
        padding: 0 9%;
        text-transform: uppercase;
    }
    .hr-lines:after {
        content: " ";
        height: 4px;
        width: 120px;
        background: #01a7af;
        display: block;
        position: absolute;
        top: 45%;
        right: 2px;
    }
    .hr-lines2:after {
        content: " ";
        height: 4px;
        width: 120px;
        background: #01a7af;
        display: block;
        position: absolute;
        top: 45%;
        right: 2px;
    }        
    .bd-highlight {
        background-color: rgba(53, 107, 152, 0.799);
        padding: 2rem;
        min-height: 480px;
    }
    
    form {
        width: 50%;
        height: auto;
        font-size: medium;
    }
}

@media (max-width:950px){
    .col-img img {
        width: 150%;
        margin-left: -33%;
        margin-top: 2%;
    }
}

@media (max-width:860px){
}

@media (max-width:820px){
    .col-img img {
        width: 139%;
        margin-left: -20%;
        margin-top: 2%;
    }
    form {
        width: 100%;
        height: auto;
        font-size: medium;
    }
}

@media (max-width: 770px) {
    .col-img{
        display: none;
    }
    .col-text {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .about p {
        color: #808285;
        font-size: 14px;
    }
    .about2 {
        font-weight: 800;
        font-size: 5rem;
        text-transform: uppercase;
        color: #0858e3;
    }
    .about1 {
        font-weight: 800;
        font-size: 4rem;
        margin-bottom: -1%;
    }
    .last1 {
        color: #01a7af;
        font-weight: 600;
        font-size: 35px;
        padding: 0 6%;
        text-transform: uppercase;
    }
    .hr-lines2:after {
        content: " ";
        height: 4px;
        width: 42%;
        background: #01a7af;
        display: block;
        position: absolute;
        top: 45%;
        right: 2px;
    }
    .hr-lines:after {
        content: " ";
        height: 4px;
        width: 42%;
        background: #01a7af;
        display: block;
        position: absolute;
        top: 45%;
        right: 2px;
    }
    .col-text{margin-left: -3%;}
}

@media(max-width: 670px){
}

@media(max-width: 600px){
}

@media(max-width: 550px){
    .about2 {
        font-weight: 700;
        font-size: 3.8rem;
        text-transform: uppercase;
        color: #0858e3;
    }
    .about1 {
        font-weight: 800;
        font-size: 3.5rem;
        margin-bottom: -1%;
    }
    .about p {
        color: #808285;
        font-size: 13px;
    }
}

@media(max-width: 520px){
    .header {
        padding: 0.5rem;
    }
    .hr-lines:after {
        width: 35%;
    }
    .hr-lines2:after {
        width: 35%;
    }
    .header img{
        width: 80%;
    }
}

@media(max-width: 450px){
    .header {
        padding: 0.5rem;
    }
}

@media(max-width: 415px){
    .hr-lines:after {
        width: 30%;
    }
    .hr-lines2:after {
        width: 30%;
    }
    .last1{
        font-size: 30px;
        padding: 0px 10%;
    }
    .about2{
        font-size: 3.2rem;
    }
    .about1{
        font-size: 2.5rem;
    }
    .about p{
        font-size: 10px;
    }
}

@media (max-width: 430px) {
    .p-5{
        padding: 2rem !important;
    }
    .bd-highlight{
        padding: 1.5rem;
    }
    .hr-lines:after {
        width: 28%;
    }
    .hr-lines2:after {
        width: 28%;
    }
    .last1{
        font-size: 30px;
        padding: 0px 10%;
    }
    .py-4{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
    .about2{
        font-size: 3.5rem;
    }
    .about1{
        font-size: 2.5rem;
    }
}
